= simple_form_for :checker, url: checker_index_path do |f|
  = f.input :text, as: :text, input_html: { rows: 20 }, label: 'Besedilo za preverjanje'
  = f.button :submit, 'Uslovenšti', class: 'btn btn-info'
