= simple_form_for :checkin, url: checker_index_path do |f|
  = f.input :text, as: :text, input_html: { rows: 20 }, label: 'Tekst za preverjanje'
  = f.button :submit, 'Preveri', class: 'btn btn-info'
