html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
  a {
    color: #999;
  }
}

.fork-me {
  position: absolute;
  top: 0px;
  right: 0;
  border: 0;
  z-index:1001;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
  .credit {
    margin: 20px 0;
  }
}
